.name {
    margin: 4px 0;
    display: inline-block;
}

.btn-delete:hover {
    background-color: blue;
    color: white;
}

span.space::before {
    content: "   ";
}

.error,
.success {
  background: lightgrey;
  font-size: 20px;
  border-style: solid;
  border-radius: 5px;
  padding: 10px;
  margin-bottom: 10px;
}

.error {
  color: red;
}

.success {
    color: green;
}